@import "./theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Raleway:wght@900&display=swap'); 

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-image: url("http://images.muumi.xyz/muumi.xyz/background.svg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    image-rendering: crisp-edges;
    font-family: 'Dosis', sans-serif;
}