$text-color: #3a3a3a;
$main-color: #8B786D;
$second-color: #BFA89E;

$nav-buttons-size: 20px;

$main-h1-size: 65px;
$main-p-size: 18px;
$main-a-size: 30px;
$main-a-spacing: 20px;

$about-h1-size: 40px;
$about-p-size: 20px;

$card-title-size: 22px;
$card-desc-size: 16px;
$card-shadow-color: #4b4b4b;
$card-shadow-hover-color: #5a5a5a;

